<footer class="bg-light py-3 fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a href="https://www.linkedin.com/in/asmaa-gamal-el-din-hamed-02893a166/" class="me-3" target="_blank"><i class="bi bi-link"></i> LinkedIn</a>
          <a href="https://github.com/asmaagamal871" target="_blank"><i class="bi bi-github"></i> Github</a>
        </div>
        <div class="col-md-6 text-md-end">
          <p>Copyright © 2023
            <a href="#">Your Website</a>. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  