<div class="d-flex flex-column mt-3">
    <h2 class="text-center">Register</h2>
    <div class=" d-flex align-items-center justify-content-center mt-auto p-2 ">
        <div class="cont p-3 w-50 border border-info">
            <p><strong>Name: </strong>{{students['name']}}</p>
            <p><strong>Email: </strong>{{students['email']}}</p>
            <p><strong>age: </strong>{{students['age']}}</p>
            <p><strong>Phone: </strong>{{students['phone']}}</p>
        </div>
    </div>
</div>