<div class="form-container" id="makeMaxWidth">
<form class="form" (ngSubmit)="Add(name.value,age.value, email.value, phone.value,nationality.value)">

  <input type="text"  #name class="form-control" placeholder="Name" />

  <input type="text"  #age class="form-control mt-3" placeholder="Age"/>

  <input type="text"  #email class="form-control mt-3" placeholder="Email"/>

  <input type="text"  #phone class="form-control mt-3" placeholder="Phone"/>

  <input type="text"  #nationality class="form-control mt-3" placeholder="Nationality"/>

  <button type="submit" class="btn btn-dark mt-3">ADD</button>
</form>
</div>
