<div class="d-flex flex-column">
<h2 class="text-center">Task1</h2>
<div class=" d-flex align-items-center justify-content-center mt-auto p-2 ">
    <div class="cont text-center w-50 border border-info">
        <label for="field">Text</label>
        <input class="form-control mx-auto w-50 text-center m-2" type="text"
            placeholder="Enter any Text"
            [(ngModel)]="lName" aria-label="default input example">
        <!-- <input type="text" placeholder="Enter any Text" [(ngModel)]="lName"> -->
        <label for="field">Output</label>
        <input class="form-control mx-auto w-50 text-center m-2" type="text"
            value="{{lName}}" aria-label="readonly input example" readonly>
        <input type="button" class="bttn btn btn-info" value="reset"
            (click)="reset()" >
    </div>
</div>
</div>