<ul class="nav justify-content-center">
  <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" class="nav-link" routerLink="/">Registeration</a></li>
    <li class="nav-item">
      <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" class="nav-link" routerLink="/students">Students</a>
    </li>
    <li class="nav-item">
      <a  routerLinkActive="active" class="nav-link" routerLink="/students/5">Student details</a>
    </li>
    <li class="nav-item">
      <a routerLinkActive="active" class="nav-link" routerLink="/vvv">Error</a>
    </li>
    
  </ul>